# YouTube Analyzer Dependencies
pandas
google-api-python-client
textblob
vaderSentiment
emoji
openpyxl

# Backend & API
fastapi
uvicorn
sqlalchemy
jinja2
python-multipart
python-jose[cryptography]
passlib[bcrypt]
